{% extends "lab/labBase.html" %}
{% load crispy_forms_tags %}
{% block title %}
Test
{% endblock title %}
{% block body %}
<div class="container">
        {% for i in lab %}
        <h3 class="text-center">{{i.name}}</h4>
            <h5 class="text-center">{{i.manager}}</h5>
            <h5 class="text-center">{{i.address}}</h5>
        {% endfor %}
        <div class="border"></div>
    <div class="row">
        <div class="col-md-10 ">
            <div class="d-flex justify-content-around">
                <p>Name: {{patient.name}}</p>
                <p>Gender: {{patient.gender}}</p>
                <p>Age: {{patient.age}}</p>
            </div>
            <div>
                <h5 class="text-center">Test</h5>
                
                <div class="row">
                    <div class="col-md-10 d-flex flex-column justify-content-center align-items-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Index</th>
                                    <th scope="col">Name of Test</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in patient.test_set.all %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{i.name}}</td>
                                    <td>{{i.name.price}}</td>
                                    {% if i.point == 0 %}
                                    <td><a href="{% url 'report' i.id%}">Go</a></td>
                                    {% endif %}
                                   
                                </tr>
                                {% endfor %}
                                <tr>
                    
                                    <th colspan="2" class="text-end">Total=</th>
                                    <th>TK</th>
                    
                                </tr>
                            </tbody>
                        </table>
                        <button><a href="{% url 'submitTest' patient.id %}">Submit</a></button>
                        
                    </div>  
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock body %}