
        <style>
            .scroll-left {
                white-space: nowrap;
                height: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
                background: rgb(245, 245, 171);
                color: black;
                border: 1px solid orange;
            }
        
            .scroll-left p {
                position: absolute;
                width: 100%;
                height: 100%;
                margin: 0;
                line-height: 50px;
                text-align: center;
                /* Starting position */
                transform: translateX(100%);
                /* Apply animation to this element */
                animation: scroll-left 30s linear infinite;
            }
        
            /* Move it (define the animation) */
            @keyframes scroll-left {
                0% {
                    transform: translateX(100%);
                }
        
                100% {
                    transform: translateX(-100%);
                }
            }
        </style>
        <div class="row d-flex flex-row mb-3">
            <div class="col-md-2">
                <h4>Announcement</h4>
            </div>
            <div class="scroll-left col-md-10">
        
                <p>{% for i in announcement %} * {{i.name}} {% endfor %}</p>
        
        
            </div>
        </div>
        
        <!-- Slider  -->
        <div class="row mb-4">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    {% for i in images %}
                    <div class="carousel-item active">
                        <img src="{{i.photo.url}}" class="d-block w-100 img-fluid" alt="..." style="width:100vh;height:75vh">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-info">{{i.caption}}</h5>
        
                        </div>
                    </div>
                    {% endfor %}
        
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Slider  -->
