{% extends "doctor/doctorBase.html" %}
{% load crispy_forms_tags %}
{% block title %}
Doctor Dashboard
{% endblock title %}
{% block body %}
<div class="container">
    {% for i in lab %}
    <h3 class="text-center">{{i.name}}</h4>
        <h5 class="text-center">{{i.manager}}</h5>
        <h5 class="text-center">{{i.address}}</h5>
        {% endfor %}
        <div class="border"></div>
        <div class="row">
            <div class="col-md-10 ">
                <div class="d-flex justify-content-around">
                    <p>Name: {{serial.name}}</p>
                    <p>Gender: {{serial.gender}}</p>
                    <p>Age: {{serial.age}}</p>
                </div>
                <div>
                    <h5 class="text-center">Test Report</h5>

                    
                        <div class="row">
                            <div class="col-md-10 d-flex flex-column justify-content-center align-items-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Index</th>
                                            <th scope="col">Name of Test</th>
                                            <th scope="col">Maximum Point</th>
                                            <th scope="col">Current Point</th>
                                            <th scope="col">Minimum Point</th>
                                            <th scope="col">Report_by</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in serial.test_set.all %}
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>{{i.name}}</td>
                                            {% for p in i.testreport_set.all %}
                                            <td>{{p.max.point}}</td>
                                            <td>{{p.point}}</td>
                                            <td>{{p.min.point}}</td>
                                            <td>{{p.report_by.name}}</td>
                                            {% endfor %}
                        
                                        </tr>
                        
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                               
                        
                            </div>
                        </div>

                </div>
            </div>
        </div>
        <button onclick="window.print()" class="btn btn-primary mt-3 non-printable">Print</button>
</div>
{% endblock body %}